* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
   scroll-behavior: smooth !important;
   font-family: helvetica, Arial, sans-serif;
}
/* Common */
.text-align {
    text-align: center !important;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-bottom: 16px !important;
}
.cursor {
    cursor: pointer;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.row {
    margin-right: -9px;
    margin-left: -9px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-third {
    width: 33.33333%;
}
.col-full {
    width: 100%;
}

/* main */


#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li {
     display: inline-block;
}
#nav li {
    position: relative;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #C0C0C0;
}
#nav > li > a {
      color: #fff;
      text-transform: uppercase;
}
#nav li a {
    text-decoration-line: none;
    padding: 12px 24px;
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    
}
#nav .subnav a {
    color: #000;
    padding: 8px 16px;
    line-height: 22px;
    min-width: 160px
}
#header .arrow {
    font-size: 14px;
}
#header .mobile-menu-btn,
#header .searchIcon {
    float: right;
    padding: 14px 22px;
} 
#header .searchIcon:hover {
    background-color: red;
    cursor: pointer;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
}
#header .menu-btn,
#header .searchI {
    font-size: 16px;
    color: #fff;
}
#header .mobile-menu-btn:hover .menu-btn  {
        color: #000
}
#mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/css/img/slider1/ny.jpg') top center / cover no-repeat
}
#slider .textContent {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   bottom: 47px;
   color: #fff;
}
#slider .textCity {
   font-weight: 500;
}
#slider .textDescription {
   margin-top: 25px;
   font-weight: 650;
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 128px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}
#content .content-heading {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px 0;
    letter-spacing: 4px;
    text-align: center;
}
#content .content-subhead {
    font-size: 15px;
    font-style: italic;
    margin: 15px 0px;
    opacity: 0.6;
    text-align: center;
}
#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 32px;
}

#content .membername {
    font-size: 15px;
    margin: 15px 0;
}
#content .member-image {
    width: 154px;
    border-radius: 6px;
}
.tour-dates {
    background-color: #000;
}
.tour-list {
    background-color: #fff;
    color: #757575;
    margin-top: 40px;
    list-style: none;
}
.tour-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px #ddd solid;
}
.tour-list .sold-out {
    background: #f44336;
    color: #fff;
    font-size: 15px;
    padding: 3px 4px;
    margin-left: 16px
}
.tour-list .numberOT {
    float: right;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    width: 24px;
    height: 24px;
    margin-top: -3px;
    line-height: 24px;
}
.tour-cities {
    padding-top: 32px;
}

.cityimage {
    width: 100%;
    display: block;
}
.cityimage:hover {
    opacity: 0.6;
}
.details {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}
.namecity {
    font-size: 15px;
    font-weight: 550;
}
.datecity {
    margin: 15px 0;
    opacity: 0.6;
}
.ticketbutton {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: black;
    padding: 11px 16px;
    margin-top: 15px;
    border: none;
    text-align: center;
}
.ticketbutton:hover {
    background-color: #ccc;
    color: #000;
}
.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-header {
    display: flex;
    justify-content: center;
    background-color: #009688;
    padding: 47px 16px;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 40px);
    min-height: 200px;
    position: relative;
    animation: TicketFadeIn ease 0.5s;
}
i.modal-heading {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 13px;
    color: #fff;
}
.modal-close:hover {
    cursor: pointer;
    opacity: 0.9;
    color: #000;
    background-color: #757575;
}
.modal-body {
    padding: 1px 16px;
}
label.model-label {
    display: block;
    padding: 15px 0px;
    font-size: 15px;
}
.modal-input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal-button {
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 6px;
}
.modal-button:hover {
    opacity: 0.8;
}
.modal-finish {
    text-align: right;
    margin-top: 34px;
    margin-bottom: 11px;
}
a.modal-anchor {
    color: #2196F3;
}
.contact-details {
    padding: 32px;
    line-height: 1.5;
    font-size: 18px;
}

.contact-details a {
    opacity: 0.8;
}

.contact-details a:hover {
    opacity: 1;
}

.contact-details i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
input.form-control {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
}
input.text-btn {
    float: right;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 11px 17px;
}
input.text-btn:hover {
    background-color: #ccc;
    color: #000;
}
@keyframes TicketFadeIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.map-selection img {
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}
#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}
.bar_btn {
    width: 48px;
    height: 48px;
    color: #fff;
    display: none;
}